.App {
  text-align: center;
}

.header{
  width: 100%;
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.home{
  display:flex;
  flex-direction: column;
  align-items: center ;
}
.linkes{
  width: 700px;
  border:1px solid black;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.link{
  color: black;
  text-decoration: none;
  cursor: default;
}
.home-list{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  width:300px; 
  border:1px solid black; 
  border-radius:3px;
  margin:20px;
  padding:10px;
  cursor:pointer
}
.add-block{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 700px;
    border: 1px solid black;
    margin:2%;
    padding: 5px;
    border-radius: 5px;
  }
.input{
  width: 90%;
  margin: 2px;
  height: 28px;
}
  .input-error{
    width: 90%;
    margin: 2px;
    height: 28px;
    outline-color: rgb(219, 83, 83);
  }
  .input-right{
    width: 90%;
    margin: 2px;
    height: 28px;
    outline-color: rgb(98, 160, 98);
  }
  

.create>span{
  color: red;
}
/* .coments-input{
  width: 80%;
  border: none;
  border-bottom:1px solid black;
  outline:none;
  height: 2em;
} */
  .list-pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list-pages-deep{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-radius: 10px;
    padding: 20px;
  }
    .img{
      border-radius: 50%;
      width:200px;
      height:200px;
      /* background-image: url(`${postData.photo}`); */
      background-size: cover
    }
/* bolorin */
    .list-pages-deep>div:nth-child(-n+5){ 
      margin-top: 15px;
    }
    .list-pages-deep>div:nth-child(4){
      width: 30%;
      display:flex;
      flex-direction:column;
      align-items:center

    }
    .list-pages-deep>div:nth-child(5){
                          display: flex;
                          align-self: flex-end;
                        }                     
  .update{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:10px;
    border: 1px soolid black;
    border-radius: 10px;
    /* justify-content: center; */
    /* align-items: center; */
  }

.coments{
  width:100%;
  display:flex;
  flex-direction:column
}
  .coments>div{
    margin-top: 10px;
  }
  .coments-form{
    display: flex;
    justify-content: space-between;
  }
    .button{
      width: 15%;
      height: 3em;
    }
      .comment-persons{
        margin-top: 18px;
        /* border: 1px solid red */
      }
      .comment-persons-person-field{
        display:flex;
      }
      .comment-persons-name-field{
        display: flex; 
        flex-direction: column;
        /* border: 1px solid green; */
      } 
        .comment-persons-name-field>div:nth-child(1){
          font-weight: 480;
          font-size:larger
        }
        .comment-persons-name-field>div:nth-child(2){
          color: grey;
          font-size: smaller;
        }



















.page{
  background-color: silver;
  padding: 5%;
}
.today-grafik{
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
  width: 33%;
  height: 300px;
  border-radius: 10px;
  background-image: url(/public/images/sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* texanqi div */
.location{
  width: 95%;
  display: flex;
  justify-content: space-between;
  height: 23%;
}
  .loc-dives{
    font-size: 22px;
    font-weight: bolder;
  }
  .loc-dives-icon{
    font-size: 2em;
    margin-right: 10px;
  }
/* astichani div */

.temp{
  width: 95%;
  height: 35%;
  display: flex;
  flex-wrap: wrap;
}
  .temp-div{
    width: 30%;
    height: 40%;
    font-size: 3em;
    display: flex;
    justify-content: space-around;
    /* font-weight: bolder; */
  }
  .feels-like{
    width: 65%;
    height: 40%;

  }
  .wind{
    width: 100%;
    height: 40%;
    display: flex;
    margin-top: 1em;
    /* justify-content: space-around; */

  }
    .wind-div{
      display: flex;
      width: 25%;
    }
      .wind-div-child{
        margin-right: 5px;
      }
/* jameri */
.hours{
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: space-around;
}
  .hour-dives{
    display: flex;
    flex-direction: column;
    align-items: center;
  }



.week-page{
  margin: 5px;
  display:flex;
  justify-content: space-evenly;
  background-color: white;
  width: 75%;
  height: 200px;
  border-radius: 10px;

}
  .week-day{
    display: flex;
    width: 14%;
    flex-direction: column;
    font-size:larger;
    justify-content:space-evenly;
    align-items: center;
    cursor: pointer;
  }
  .week-day:hover{
    outline: 1px solid silver;
  }
  .week-day-icon{
    font-size: xx-large;
  }
.fixed-page{
  margin: 5px;
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 10px;
}